.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: rgba(37, 37, 37, 0.35);

  &__container {
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    max-height: 60%;

    &--md {
      max-width: 480px;
    }

    &--lg {
      max-width: 640px;
    }

    &--full {
      max-width: 1200px;
    }
  }

  &--open {
    display: flex;
    pointer-events: initial;
  }
}

.modal-is-open {
  overflow: hidden;
  height: 100vh;
}
