.text {
  &-header-0 {
    font-weight: 800;
    font-size: 60px;
  }

  &-header-2 {
    font-weight: 700;
    font-size: 48px;
  }

  &-header-3 {
    font-weight: 600;
    font-size: 36px;
  }

  &-header-4 {
    font-weight: 400;
    font-size: 24px;
  }

  &-subtitle-1 {
    font-weight: 400;
    font-size: 16px;
  }

  &-subtitle-2 {
    font-weight: 400;
    font-size: 18px;
  }

  &-body-1 {
    font-weight: 400;
    font-size: 12px;
  }

  &-body-2 {
    font-weight: 400;
    font-size: 10px;
  }

  &-overline {
    font-weight: 300;
    font-size: 8px;
  }
}
